.ingredients {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    width: 100%;
  }
}
